{% extends 'dogs/base.html' %}
{% block content %}
{% for object in object_list %}
<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <p class="card-text">{{ object.title | title }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">к собакам</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}